@model IEnumerable<BLL.DTO.StreetDTO>
@{
    ViewData["Title"] = "View";
    Layout = "_Layout";
}

<html>
<head>
    <title>Улицы города</title>
</head>
<body>
    @{
        var cityData = ViewBag.Message;
    }
    
    <h3>Все улицы города @cityData.Name</h3><br />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#streetCreateModel">+</button>
    <table class="table table-bordered table-hover">
        <tr>
            <td>Название</td>
            <td></td>
        </tr>
        @foreach (var street in Model)
        {
            <tr>
                <td>@street.Name</td>
                <td><a href="~/Address/GetAllBuildingsOnStreet?streetId=@street.Id">Посмотреть все здания</a></td>
                <td><a href="~/Address/DeleteStreet?id=@street.Id&cityId=@street.CityId" class="link-danger">Удалить</a></td>
            </tr>
        }
    </table>

    <div class="modal fade" id="streetCreateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Добавить улицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="street-name" class="col-form-label">Название:</label>
                            <input type="text" class="form-control" name="Name" id="street-name">
                        </div><br />
                        <input type="hidden" name="CityName" value="@cityData.Name" />
                        <input type="hidden" name="CityId" value="@cityData.Id" />
                        <input type="submit" value="Создать" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
