
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <title>Приложение аренды товаров</title>
</head>
<body>
    <h1>Приложение для аренды товаров</h1>
    <td><a href="~/Address/GetAllCities">Адресса</a></td>
    <td><a href="~/Client/GetAllClients">Клиенты</a></td>
    <td><a href="~/Product/GetAllProducts">Продукты</a></td>
    <td><a href="~/RentStore/GetAllRentStores">Магазины</a></td>
</body>
</html>
