@model BLL.DTO.RentStoreDTO
@{
	ViewData["Title"] = "ControlRentStore";
	Layout = "_Layout";
}



<h1>Управление магазином @Model.Name</h1>
<h2>Адресс: @Model.Building.CityName, @Model.Building.StreetName, @Model.Building.Number</h2>
<br />

<div class="row">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Продукты</h5>
				<p class="card-text">Установка цен на продукты</p>
				<a href="~/RentStore/GetAllRentStoreProducts?id=@Model.Id" class="btn btn-primary">Перейти</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Менеджеры</h5>
				<p class="card-text">Управление менеджерами магазина</p>
				<a href="~/RentStore/GetAllRentStoreManagers?rentStoreId=@Model.Id" class="btn btn-primary">Перейти</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Завершенные аренды</h5>
				<p class="card-text">Просмотр статистики по арендам</p>
				<a href="~/RentStore/GetAllEndedRents?rentStoreId=@Model.Id" class="btn btn-primary">Перейти</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Активные аренды</h5>
				<p class="card-text">Просмотр всех активных аренд</p>
				<a href="~/RentStore/GetAllActiveRents?rentStoreId=@Model.Id" class="btn btn-primary">Перейти</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Оформить аренду</h5>
				<p class="card-text">Оформление аренды</p>
				<a href="~/RentStore/CreateRent?rentStoreId=@Model.Id" class="btn btn-primary">Перейти</a>
			</div>
		</div>
	</div>
</div>


